@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-green-800 
           text-white 
           md:container 
           md:mx-auto
           px-8;
  }
  h1 {
    @apply text-2xl
      py-2;
  }
  h2 {
    @apply text-xl
      py-2;
  }
  h3 {
    @apply text-lg
      py-2;
  }
  form {
    @apply mb-6;
  }
  button {
    @apply py-2 
            px-4 
            bg-red-500 
            text-white 
            font-semibold 
            rounded-lg 
            shadow-md 
            inline-block
            hover:bg-red-700 
            focus:bg-red-700;
  }
  input {
    @apply py-2 
            px-4 
            bg-green-300 
            text-white 
            font-semibold 
            rounded-lg 
            shadow-md 
            hover:bg-green-500 
            focus:bg-green-500 
            focus:outline-none
            w-full;
  }
  .link {
    @apply inline-block 
      align-baseline 
      font-normal 
      text-sm 
      text-white 
      hover:text-green-300;
  }
  .page-body-label {
    @apply text-green-300 
      text-2xl 
      flex 
      justify-center 
      border-b-2 
      py-2 
      mb-4;
  }
  .page {
    @apply flex 
      items-center 
      justify-center;
  }
  .page-body-md {
    @apply w-full 
      max-w-md;
  }
  .page-body-full {
    @apply w-full;
  }
  .page-body-buttons {
    @apply flex 
      items-center 
      justify-between
      mb-4;
  }
  .gameboard {
    @apply grid 
      grid-cols-1 
      sm:grid-cols-2 
      md:grid-cols-3 
      xl:grid-cols-4 
      gap-4;
  }
  .gameboard-card {
    @apply flex 
      flex-col 
      items-center 
      justify-center
      bg-green-300 
      hover:bg-green-500 
      focus:bg-green-500 
      p-4 
      shadow 
      rounded-lg;
  }
  .gameboard-card-title {
    @apply mt-4 
      focus:outline-none
      font-bold 
      text-xl;
  }
}
